body > div#hs-eu-cookie-confirmation {
  position: fixed;
  left: 2.292vw;
  bottom: 3.333vw;
  top: unset;
  right: unset;
  width: 21.944vw;
  height: auto;
  background: #050505;
  border: none;
  box-shadow: none;
}

body > div#hs-eu-cookie-confirmation > div#hs-eu-cookie-confirmation-inner {
  background: #050505;
}

body > div#hs-eu-cookie-confirmation > div#hs-eu-cookie-confirmation-inner > p#hs-eu-cookie-disclaimer {
  color: #F8F8F8;

}

#hs-eu-policy-wording {
  color: #F8F8F8;
}

body > div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

body > div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button {
  color:#050505;
  width: 6.806vw;
  height: 3.333vw;
  font-weight: 500;
  font-size: 1.25vw;
  border-radius: 0.139vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0 !important;
}

body > div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-decline-button {
  color: #F8F8F8;
  width: 6.806vw;
  height: 3.333vw;
  font-weight: 500;
  font-size: 1.25vw;
  border-radius: 0.139vw;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 428px) and (max-width: 1024px) {
  body > div#hs-eu-cookie-confirmation {
    width: 89.581vw;
    left: 3.952vw;
    bottom: 5.749vw;
  }

  body > div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button {
    font-size: 2.156vw;
    width: 11.737vw;
    height: 5.749vw;
  }

  body > div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-decline-button {
    font-size: 2.156vw;
    width: 11.737vw;
    height: 5.749vw;
  }

  body > div#hs-eu-cookie-confirmation > div#hs-eu-cookie-confirmation-inner > p#hs-eu-cookie-disclaimer {
    font-size: 1.437vw;
  }

  #hs-eu-policy-wording {
    font-size: 1.437vw;
  }
}

@media screen and (max-width: 428px) {
  body > div#hs-eu-cookie-confirmation {
    width: 100vw;
    left: 0;
    bottom: 0;
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  body > div#hs-eu-cookie-confirmation > div#hs-eu-cookie-confirmation-inner > p#hs-eu-cookie-disclaimer {
    font-size: 3.2vw !important;
  }

  #hs-eu-policy-wording {
    font-size: 3.2vw !important;
  }

  body > div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button {
    width: 26.133vw;
    height: 12.8vw;
    border-radius: 0.533vw;
    font-size: 4.8vw !important;
  }

  body > div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-decline-button {
    width: 26.133vw;
    height: 12.8vw;
    border-radius: 0.533vw;
    font-size: 4.8vw !important;

  }
}