@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('HelveticaNeue-Medium-11.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue-01.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

